/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
main
{
    /* min-height: calc(100vh - 56px - 104px); */
    min-height: calc(100vh - 56px - 56px);
}

/* Navigation bar styles */
nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}

/* Page header styles */
h1 {
  color: #333;
}

/* Card styles */
.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1em;
}

/* Responsive layout styles */
@media (max-width: 767px) {
  nav a {
      float: none;
      width: 100%;
      text-align: left;
  }
}

.card-text.no-wrap {
  white-space: nowrap;
}


